   <footer class="page-footer bg-primary">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">iBlogs</h5>
                <p class="grey-text text-lighten-4">Create your blogs and post it with iBlogs.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Contact Us</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">LinkedIn</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2023 Copyright associated with iBlogs
            </div>
          </div>
        </footer>